/*
* FullYearCalendar main container.
*/

.fyc-main-container {
    border: 1px solid #ccc;
    background-color: #fffff6;
    padding: 5px;
    margin: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

/*
 * Month name container.
 */

.fyc-month-name {
    padding: 0 10px;
    color: #333;
    text-align: right;
}

/*
 * Week day name container.
 */

.fyc-week-day-name {
    background-color: #DDD;
    color: #666;
    padding: 2px;
}

/*
 * Month row container.
 */

.fyc-month-row {
    margin-bottom: 5px;
}

/*
 * Default day container.
 */

.fyc-empty-day {
    color: #333;
    border: 1px solid #DDD;
}

.fyc-default-day {
    color: #333;
    border: 1px solid #DDD;
}

.fyc-default-day:not(:empty):hover {
    background-color: #333;
    color: #ddd;
    cursor: pointer;
}

.fyc-default-day:last-child {
    border-right: 1px solid #DDD;
}

.fyc-default-day:nth-child(7n+0) {
    border-right: 1px solid #BBB;
}

/*
 * Style to be applied to the selected day.
 */

.fyc-selected-day {
    background-color: #AAA;
}

/*
 * Style to be applied to the weekend days.
 */

.fyc-weekend-day {
    font-weight: bold;
    background-color: #DDD;
    border: 1px solid #DDD;
}

/*
 * Style to be applied when doing a multiple day selection.
 */

.fyc-multi-selection {
    background-color: #777;
    color: #fff;
}

/********************************************/

/******* Legend styles **********************/

/********************************************/

/*
 * Legend container.
 */

.fyc-legend-container {
    padding: 2px;
}

/*
 * Legend property day container.
 */

.fyc-legend-property-day {
    border: 1px solid #BBB;
}

/*
 * Legend property caption.
 */

.fyc-legend-property-caption {
    padding: 0 5px;
}

/*
 * Legend vertical clear (only applied when legend style is set to `block`.
 */

.fyc-legend-vertical-clear {
    margin-top: 5px;
}

/********************************************/

/******* Navigation toolbar *****************/

/********************************************/

/*
 * Navigation toolbar wrapper.
 */

.fyc-nav-toolbar-wrapper {
    text-align: center;
}

/*
 * Navigation toolbar container (there is one container per control).
 */

.fyc-nav-toolbar-container {
    display: inline-block;
    margin-bottom: 5px;
}

/*
 * Selected year container.
 */

.fyc-nav-toolbar-selected-year {
    margin: 0 100px;
}

/*
 * Navigation buttons.
 */

.fyc-nav-button-previous-year, .fyc-nav-button-next-year {
    background-color: #DDD;
    color: #666;
    padding: 2px 5px;
    font-size: 1vw;
}

/*
 * Navigation icon button.
 */

.fyc-nav-icon-previous-year, .fyc-nav-icon-next-year {
    padding: 2px;
    margin: 0 3px;
}

.fyc-nav-icon-previous-year:before {
    content: "\003c";
    font-weight: 700;
}

.fyc-nav-icon-next-year:before {
    content: "\003e";
    font-weight: 700;
}
