/************************
** Custom dates styles **
************************/

.calendar1 .vacations {
  background-color: lightgreen;
  border: 1px solid lightgreen;
}

.calendar1 .spring {
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
}

.calendar1 .holidays {
  background-color: rgb(122, 157, 255);
  border: 1px solid rgb(122, 157, 255);
}

.calendar1 .birthday {
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.calendar1 .summer {
  background-color: rgb(255, 166, 0);
  border: 1px solid rgb(255, 166, 0);
}

.calendar1 .multiyear {
  background-color: rgb(233, 143, 255);
  border: 1px solid rgb(233, 143, 255);
}
/***********************************************************
***********************************************************
* Override of the default FullYearCalendar Css Classes.
***********************************************************
**********************************************************/

/*
* FullYearCalendar main container.
*/

.calendar1 .fyc-main-container {
  border: 1px solid #ccc;
  background-color: #fffff6;
  padding: 5px;
  margin: 5px;
}

/*
* Month name container.
*/

.calendar1 .fyc-month-name {
  padding: 0 10px;
  color: #333;
  text-align: right;
}

/*
* Week day name container.
*/

.calendar1 .fyc-week-day-name {
  background-color: #DDD;
  color: #666;
  padding: 2px;
}

/*
* Month row container.
*/

.calendar1 .fyc-month-row {
  margin-bottom: 5px;
}

/*
* Default day container.
*/

.calendar1 .fyc-empty-day {
  color: #333;
  border: 1px solid #DDD;
}

.calendar1 .fyc-default-day {
  color: #333;
  border: 1px solid #DDD;
}

.calendar1 .fyc-default-day:not(:empty):hover {
  background-color: #333;
  color: #ddd;
  cursor: pointer;
}

.calendar1 .fyc-default-day:last-child {
  border-right: 1px solid #DDD;
}

.calendar1 .fyc-default-day:nth-child(7n+0) {
  border-right: 1px solid #BBB;
}

/*
* Style to be applied to the selected day.
*/

.calendar1 .fyc-selected-day {
  background-color: lightcoral;
  border: 1px solid lightcoral;
}

/*
* Style to be applied to the weekend days.
*/

.calendar1 .fyc-weekend-day {
  font-weight: bold;
  background-color: #CCC;
  border: 1px solid #CCC;
  color: #333;
}

/*
* Style to be applied when doing a multiple day selection.
*/

.calendar1 .fyc-multi-selection {
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
}

/********************************************/

/******* Legend styles **********************/

/********************************************/

/*
* Legend container.
*/

.calendar1 .fyc-legend-container {
  padding: 2px;
}

/*
* Legend property day container.
*/

.calendar1 .fyc-legend-property-day {
  border: 1px solid #BBB;
}

/*
* Legend property caption.
*/

.calendar1 .fyc-legend-property-caption {
  padding: 0 5px;
}

/*
* Legend vertical clear (only applied when legend style is set to `block`.
*/

.calendar1 .fyc-legend-vertical-clear {
  margin-top: 5px;
}

/********************************************/

/******* Navigation toolbar *****************/

/********************************************/

/*
* Navigation toolbar wrapper.
*/

.calendar1 .fyc-nav-toolbar-wrapper {
  text-align: center;
}

/*
* Navigation toolbar container (there is one container per control).
*/

.calendar1 .fyc-nav-toolbar-container {
  display: inline-block;
  margin-bottom: 5px;
}

/*
* Selected year container.
*/

.calendar1 .fyc-nav-toolbar-selected-year {
  margin: 0 100px;
}

/*
* Navigation buttons.
*/

.calendar1 .fyc-nav-button-previous-year, .fyc-nav-button-next-year {
  background-color: #DDD;
  color: #666;
  padding: 2px 5px;
  font-size: 1vw;
}

/*
* Navigation icon button.
*/

.calendar1 .fyc-icon-previous-year, .fyc-icon-next-year {
  padding: 2px;
  margin: 0 3px;
}

.calendar1 .fyc-icon-previous-year:before {
  content: "\003c";
  font-weight: 700;
}

.calendar1 .fyc-icon-next-year:before {
  content: "\003e";
  font-weight: 700;
}
